* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color:black;
    background-color: whitesmoke;
}

#container{
    margin-left: 15%;
    width: 70%;
    margin-right: 1%;
    text-align: justify;
}

.center{
    text-align: center;
    text-decoration: underline;
}

.size{
    height: 50px;
    width: 178px;
}

img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.bottom{
    text-align: end;
}

.LOGO{
    font-family: 'Raleway', sans-serif;
    border: 3px solid black;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

h1{
    margin-top: 30px;
}

p{
    width: 100%;
    text-indent: 2.5em;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topnav {
    margin-top: 25px;
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 17px;
    background-color: gray;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


#info{

}

button{
    font-size: 32px;
}

#memberInfo{
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
}

#member{
    width: 49vw;
    height: 200px;
    margin-top: 40px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
}

iframe{
    margin-top: 50px;
    margin-left: -20px;
}

.text{
    height: 200px;
    width: 300px ;
    display: flex;
    flex-direction: column;
}

.sect{
    margin-left: 30px;
}
aside{
    float: right;
    width: 25%;
    background-color: aqua;
}

footer {
    width: 80%;
    height: 10vh;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    
}

footer a{
    color: gray;
    margin-right: 50px;
    text-decoration: none;
    outline: none;
}

figcaption{
    text-align: center;
    
}